@font-face {
    font-family: "icons";
    src: url("/icon/icons.eot?909c8d9bf7ad5b73b372398281e97833?#iefix") format("embedded-opentype"),
url("/icon/icons.woff2?909c8d9bf7ad5b73b372398281e97833") format("woff2"),
url("/icon/icons.woff?909c8d9bf7ad5b73b372398281e97833") format("woff"),
url("/icon/icons.ttf?909c8d9bf7ad5b73b372398281e97833") format("truetype"),
url("/icon/icons.svg?909c8d9bf7ad5b73b372398281e97833#icons") format("svg");
}

i.icon[class^="icon-"]:before, i.icon[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-010-oil:before {
    content: "\f101";
}
.icon-ambulatory:before {
    content: "\f102";
}
.icon-bad:before {
    content: "\f103";
}
.icon-calender:before {
    content: "\f104";
}
.icon-cancel:before {
    content: "\f105";
}
.icon-caution:before {
    content: "\f106";
}
.icon-drink:before {
    content: "\f107";
}
.icon-edit:before {
    content: "\f108";
}
.icon-facebook:before {
    content: "\f109";
}
.icon-food:before {
    content: "\f10a";
}
.icon-good:before {
    content: "\f10b";
}
.icon-grooming:before {
    content: "\f10c";
}
.icon-health-data:before {
    content: "\f10d";
}
.icon-help:before {
    content: "\f10e";
}
.icon-history:before {
    content: "\f10f";
}
.icon-medicare:before {
    content: "\f110";
}
.icon-minus:before {
    content: "\f111";
}
.icon-notification:before {
    content: "\f112";
}
.icon-pee:before {
    content: "\f113";
}
.icon-plus:before {
    content: "\f114";
}
.icon-poop:before {
    content: "\f115";
}
.icon-remove:before {
    content: "\f116";
}
.icon-sad:before {
    content: "\f117";
}
.icon-setting:before {
    content: "\f118";
}
.icon-treats:before {
    content: "\f119";
}
.icon-twitter:before {
    content: "\f11a";
}
.icon-work-out:before {
    content: "\f11b";
}
