.c-label
  display: inline-block
  spacing('p', 'tiny')
  spacing('pl', 'normal')
  spacing('pr', 'normal')
  spacing('mr', 'smaller')
  font-size: .8rem
  line-height: 1
  min-width: 100px
  text-align: center
